<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="login-scr">
        <div class="login-box">
            <h1 class="edit-title">Are you sure you want to delete:
</br> </br><i>{{dogtype.type}}?</i> </h1>
            </br>
            </br>
            </br>
            <form action="{{ url_for('deleteDogType', id=id)}}" method='post'>

                <div class="">
                    <input class="create-cancel-btn" type="submit" value="Delete">
                    <a class="create-cancel-btn" href='{{url_for(' showDogTypes ')}}'>Cancel</a>

                </div>

            </form>
        </div>
    </div>
</body>

</html>
